/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Monsterrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #4c4c4c;
}
// utility
.main-font {
  font-family: 'Montserrat', sans-serif;
}
.secondary-font {
  font-family: 'Roboto', sans-serif;
}